<p>Comments</p>

<div class="separator-comments">
  <app-comment-list
    [commentList]="(commentList$ | async)!"
    [userLogged]="(user$ | async)!"
></app-comment-list>
</div>
<!--
<div class="separator-comments">
  <app-reply [userLogged]="(user$ | async)!"></app-reply>
</div>-->
<div class="separator-comments">
  <app-reply (savingComment)="saveComment($event)"
  [userLogged]="(user$ | async)!"
  [isReply]="false"
  ></app-reply>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are yo sure you want to delete this comment¿?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No!</button>
        <button type="button" class="btn btn-danger">Yes!</button>
      </div>
    </div>
  </div>
</div>
