.comment-box{
  display: flex;
  flex-direction: row;
  background-color: white;
  width:50vw;
  border-radius: 2%;
}

.comment-box-reply{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 50px;
  width:47vw;
  border-radius: 2%;
}

.img_logo{
  width: 40px;
  height:40px;
  border-radius: 50%;
}

.pointer-score{
  padding: 10px;
}

.texto{
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-user{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padd-button{
  padding-right: 10px;
}

.button-text{
  color: white;
}
