<div [ngClass]="isReply ? 'comment-box-reply' : 'comment-box'" *ngIf="!isEditing">
  <div class="pointer-score">
    <app-pointer (levelPlus)="increaseScoreComment()" (levelMinus)="decreaseScoreComment()"
      [points]="comment.score"
    ></app-pointer>
  </div>

  <div class="texto">
    <div class="flex-user">
      <div>
      <img class="img_logo" [src]="comment.user.image?.png ?? 'assets/img/default-logo.jpg'"> &nbsp; <strong>{{comment.user.username ?? ''}}</strong> {{comment.createdAt}}
    </div>
    <div class="padd-button button-text">
      <button type="button" class="btn btn-danger" *ngIf="flagSelf" (click)="sendCommentToDelete()">Delete</button>&nbsp;
      <button type="button" class="btn btn-warning"*ngIf="flagSelf" (click)="isEditing=true">Edit</button>
      <button type="button" class="btn btn-info" *ngIf="!flagSelf" (click)="replyClickedEvent()">Reply</button>
    </div>
    </div>

    <div>
      <strong>{{isReply?'@'+getCommentReply().replyTo+' ':'' }}</strong>{{comment?comment.content:''}}
    </div>
  </div>
</div>


<div class="separator-comments comment-box-reply widthReply" *ngIf="replyClicked" >
  <app-reply (savingComment)="getReplyToSave($event)"
  [userImage]="userLogged.image?.png??''"
  [userReply]="getCommentReply().replyTo"
  ></app-reply>
</div>



