<div class="comment-box">
  <div class="pointer-score">
    <app-pointer (levelPlus)="increaseScoreComment()" (levelMinus)="decreaseScoreComment()"
      [points]="comment.score"
    ></app-pointer>
  </div>

  <div class="texto">
    <div class="flex-user">
      <div>
      <img class="img_logo" [src]="comment && comment.user&& comment.user.image ? comment.user.image.png :'assets/img/default-logo.jpg'"> &nbsp; <strong>{{comment&&comment.user ?comment.user.username:''}}</strong> {{comment.createdAt}}
    </div>
    <div class="padd-button button-text">
      <button type="button" class="btn btn-danger" *ngIf="flagSelf" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>&nbsp;
      <button type="button" class="btn btn-warning"*ngIf="flagSelf">Edit</button>
      <button type="button" class="btn btn-info" *ngIf="!flagSelf" (click)="replyClickedEvent()">Reply</button>
    </div>
    </div>

    <div>
      {{comment?comment.content:''}}
    </div>
  </div>
</div>

<div class="separator-comments" *ngIf="replyClicked">
  <app-reply (savingReply)="getReplyToSave($event)"
  [userLogged]="userLogged"
  [parentId]="getCommentReply().replyingParent"
  [isReply]="true"
  [replyingTo]="comment&&comment.user&&comment.user.username ?comment.user.username:''"
  ></app-reply>
</div>



